<html>
<head>
<title>Clutch</title>
<link rel="stylesheet" type="text/css" href="static/css/clutch.css" />
<script type="text/javascript" src="static/jquery.js"></script>
<script type="text/javascript" src="static/jquery-ui.js"></script>
<script type="text/javascript" src="static/jquery.eventsource.js"></script>
<script type="text/javascript" src="static/d3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var activeNumBoxes = [];
        var active = 0;
        
        function startstream(){$.eventsource({
            label: "nums",
            url: "/sse-stream/",
            dataType: "json",
            message: function(msg){
                activeNumBoxes.each(function(i){
                    varname = $(this).data('var');
                    if( varname in msg ){
                        $(this).children(".Data").html(msg[varname]);
                    }
                });
            }
        });}
        
        function rollBox(){
            h = $(window).height();
            $(activeNumBoxes[active]).animate({top: -h},'slow');
            active = (active+1)%activeNumBoxes.length;
            $(activeNumBoxes[active]).css({top: h}).show().animate({top: 0},'slow');
        }
        
        function setupNumBoxes(){
            boxes = $("#Active .NumBox");
            activeNumBoxes = boxes;
            boxes.html("<div class='Data'></div><div class='Label'></div>");
            boxes.each(function(i){
                $(this).data('var',$(this).attr("id"))
                $(this).children(".Label")
                    .html($(this).data("var"))
                    .css("font-size",$(this).children(".Label").height()*0.90);
                $(this).children(".Data")
                    .css( "font-size",$(this).children(".Data").height()*0.80);
                $(this).click(rollBox);
            });
            boxes = $('#Available .NumBox');
            boxes.each(function(i){
                $(this).data('var',$(this).attr("id"))
                $(this).html($(this).attr("id"));
            });
            for( i=1; i<activeNumBoxes.length; i++ ){
                $(activeNumBoxes[i]).hide();
            }
        }
        
        setupNumBoxes();
        startstream();

        
        
    });

</script>
</head>
<body>
    <div id="Available">
        <div class="NumBox" data-var="Time"></div>
    </div>
    <div id="Active">
        <div class="NumBox" data-var="TWA"></div>
        <div class="NumBox" data-var="TWS"></div>
    </div>
</body>
</html>