.ui-content {padding: 0px !important;}
.NumBox {
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
        user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    overflow: hidden;
    }

.NumBox .Data{
    font-family: sans-serif;
    text-align: center;
    height: 75%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    padding-top: 0.1em;
    overflow: hidden
}

.NumBox .Label{
    font-family: sans-serif;
    height:25%;
    text-align: center;
    margin: 0 0 0 0;
    padding-top: 0em;
    overflow: hidden;
}
  
#ping .ui-content{
    height:100%;
    }
    
#pingbutton{
    height:150px;
    line-height: 150px;
    }

a#cancel{
    background-color: red;
    }
    
a{
    -webkit-touch-callout: none;
}

#pingdialog{
    text-align: center;
    }
    
